<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="employeeBookingDetail">
    <section class="container">
        <a href="#" id="employee-back" class="btn">Tilbage</a>
        <h2>Booking detalje</h2>

        <div class="admin-card">
            <div class="field two-col">
                <div>
                    <label>Booking ID</label>
                    <div id="detail-id">—</div>
                </div>
                <div>
                    <label>Aktivitet</label>
                    <div id="detail-activity">—</div>
                </div>
            </div>

            <div class="field two-col">
                <div>
                    <label>Dato</label>
                    <div id="detail-date">—</div>
                </div>
                <div>
                    <label>Tid</label>
                    <div id="detail-time">—</div>
                </div>
            </div>

            <div class="field two-col">
                <div>
                    <label>Deltagere</label>
                    <div id="detail-participants">—</div>
                </div>
                <div>
                    <label>Kontakt</label>
                    <div id="detail-contact">—</div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
