<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<form th:fragment="loginForm" id="loginForm" method="get" style="display: table-caption;">
    <label>
        Username:
        <input type="text" id="usernameInp" autofocus="autofocus" required/>
    </label><br/>
    <label>
        Password:
        <input type="password" id="passwordInp" required />
    </label><br/>
    <input id="loginBtn" type="submit" value="Log In" />
</form>

<div th:fragment="loginPrompt" id="loginPrompt" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div th:insert="~{fragments/login :: loginForm}"></div>
    </div>

    <script src="/javascript/login.js"></script>
</div>

</html>