<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="navbar">
    <div class="container site-header-inner">
        <div class="branding">
            <a href="/" class="logo">Adventure Park</a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a class="active">Booking</a></li>
                <li><a href="/">Aktiviteter</a></li>
                <li><a href="/">Priser</a></li>
                <li><a href="/">Kontakt</a></li>
                <li><a id="loginBtn">Log Ind</a></li>
            </ul>
        </nav>
    </div>
</header>

</html>