<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Adventure Park</title>
    <link rel="stylesheet" th:href="@{/styles.css(v=${#dates.createNow().time})}">
</head>
<body>
<header class="site-header" th:insert="~{fragments/navbar :: navbar}"></header>

<div id="booking-page" class="page" style="display:block" th:insert="~{fragments/booking_form :: bookingForm}"></div>
<div id="activities-page" class="page" style="display:none" th:insert="~{fragments/list :: list}"></div>
<div id="prices-page" class="page" style="display:none" th:insert="~{fragments/guide :: guide}"></div>
<div id="contact-page" class="page" style="display:none" th:insert="~{fragments/footer :: footer}"></div>
<div id="login-page" class="page" style="display:none"><section class="container"><h2>Log ind</h2></section></div>
<div id="employee-bookings-page" class="page" style="display:none" th:insert="~{fragments/employee-bookings :: employeeBookings}"></div>
<div id="employee-booking-detail-page" class="page" style="display:none" th:insert="~{fragments/employee-booking-detail :: employeeBookingDetail}"></div>
<div id="admin-page" class="page" style="display:none" th:insert="~{fragments/admin-activities :: activitymanagement}"></div>

<script th:src="@{/javascript/main.js(v=${#dates.createNow().time})}"></script>
</body>
</html>
